# Ignore editor/IDE settings
.vscode/
.idea/
*.swp
*~

# Ignore build files
*.o

# Ignore pdf and imgs
*.pdf
*.png
*.img
*.md

# Ignore tester
minishell_tester/
test_files/

# Ignore supresser
*.supp

# Ignore minishell
minishell